<!-- annotation app -->

<link rel="stylesheet" type="text/css" href="annotation_app/annotation_app.css" scoped>
<div id="annotation-app">
	<div v-for="category in categories"
		v-bind:class="'button ' + category.name"
		v-on:click= "wrappe_selection(category.name)"
		v-bind:style="'background-color:'  + category.color">
		{{ category.name }} <div class="key">{{ category.hotkey }}</div>
	</div>
	<div class="button submit" v-on:keyup.enter="submit_annotations" v-on:click="submit_annotations" style="background-color: orange">submit {{ message_submit }} <div class="key">↩</div></div>
</div>

<div v-if="visible" id="annotation-overlay">
  <div class="panel">
  <h3> L'envoi des annotations à <span style="color: #4d8">{{ post_adress }}</span> a échoué</h3><br>
      <p>Copier manuellement la liste des annotations :</p>
      <form v-on:submit="refresh">
      <pre> {{ json_annotations }} </pre>
      <br>
      <p> Le text et les annotations suivantes seront chargés :<p>
      <textarea v-model="refresh_data">{
        "html" : "le nouveau text à charger",
        "annotations" : [{"mot": "nouveau", "nocc": 1, "longueur": 2, "type": "loi"}]
      }</textarea>
      <input type="submit" class="button" value="Submit">
      </form>
  </div>
</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script src="annotation_app/config.js"></script>
<script src="annotation_app/annotation.js"></script>

<!-- annotation app -->